# Ignore node_modules in the root directory (Node.js backend)
node_modules/

# Ignore node_modules in the frontend folder (React app)
frontend/node_modules/

# Optional: Ignore other files like logs or environment variables
npm-debug.log
yarn-error.log
.env
frontend/build/
